@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(11, 136, 158);
    --primary-color-darker: rgb(3, 45, 53);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 398px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 20px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;

}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

p {
    font-size: 16px;
    text-align: center;
    color: white;
}

.container h1 {
    text-align: center;
    color: rgb(11, 136, 158);
}

form label {
    margin-top: 10px;
}

.paragrafo-resultado, .bad {
    color: white;
    background: var(--primary-color-darker);
    padding: 10px 20px;
}

.bad {
    background: rgb(247, 120, 120);
    font-weight: bolder;
}

input::placeholder {
    color: rgba(211, 211, 211, 0.61);
}

@media (max-width: 800px) {
    .container {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        margin-bottom: -5px;
    }

    p {
        font-size: 14px;
        margin-bottom: 1px;
    }

    .line {
        margin: 1px;
    }

    form button {
        margin-top: 20px;
    }
    
    .paragrafo-resultado {
        font-size: 13px;
    }

    .container h1 {
        font-size: 24px;
        margin-top: -6px;
        margin-bottom: 10px;
    }
}

@media (max-width: 350px) {
    .container {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
        margin-bottom: -20px;
    }

    p {
        font-size: 12px;
        margin-bottom: 1px;
        margin-top: 25px;
    }

    .line {
        margin: -8px;
    }

    .container h1 {
        margin-top: -2px;
        font-size: 25px;
    }
    
    form input {
        font-size: 20px;
        height: 40px;
    }

    form button {
        height: 40px;
        margin-top: 15px;
    }
}